@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html{
    scroll-behavior: smooth;
    scrollbar-color:#e4a14a #202123 ;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-y: scroll;
    background: #202123;
    margin: 0 5px;
}
h1{
    color: #e4a14a;
    text-transform: uppercase;
}
h2{
    margin-right: auto;
    text-transform: uppercase;
}

/*Header*/
header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #202123;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12%;
    margin: auto auto 2%;
    border-radius: 45px;
    border: 3px groove #e4a14a;
}
header .logo{
    width: 250px;
    margin-right: auto;
}
header li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: whitesmoke;
    text-shadow: 1px 1px black;
    text-decoration: none;
}
header .navbar{
    list-style: none;
}
header .navbar li{
    display: inline-block; /*egymás mellé rakja a List Itemeket*/
    padding: 10px 20px;
}
header .navbar a:hover{
    color: #e4a14a;
    margin: auto;
    transition: all 0.45s ease 0s; /* Késleltető Animáció*/
    text-shadow: 1px 1px black, 0 0 3px #e4a14a;
   
}
header #active{
    color: #e4a14a;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown_content{
    background-color: rgb(40, 41, 43);
    display: block;
    padding: 3px 6px;
    border: 3px groove #e4a14a;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #202123;
    position: absolute;
    z-index: 1;
    visibility: hidden;
}
.dropdown:hover .dropdown_content{
    visibility: visible;
    margin-left: 20px;
}

/*Main*/
.inner_main{
    background-color: #28292b;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
    border-collapse: inherit;
    padding: 20px;
    display: flex;
    transition: all 0.45s ease 0s; /* Animáció*/
    animation: fadeIn 1.2s;
}
.inner{
    width: 95%;
    margin: auto;
    padding: 50px;
    transition: all 0.45s ease 0s; /* Animáció*/

}
.wallpaper_container{
    width:95%;
    margin: auto auto 300px;
    color: whitesmoke;
    border-radius: 30px;
    background-image: url("../img/home/helloDivHatter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    font-size: 26px;
    padding: 200px;
    animation: fadeIn 1s; /*keyFrame hozzá lentebb*/
}
.content_placer>h2 {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-shadow: 3px 3px black;
}
.content_placer>p{
    text-shadow: 1px 1px black;
}

.content_placer button{
    border-radius: 5px;
    font-size: 20px;
    width: 200px;
    height: 40px;
    margin-top: 15px;
    border: none;
    background-color: #28292b;
    transition: all 0.3s ease 0s; /* Animáció*/
}
.content_placer button:hover{
    cursor: pointer;
    color: black;
    background-color: rgb(228, 161, 74);
    transition: all 0.3s ease 0s; /* Animáció*/
}

.content{
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    width: 95%;
    margin: 0 auto 0 auto;
    background-color: rgb(32, 33, 35) ;
    box-shadow: 3px 3px rgb(32, 33, 35), 0 0 3px #e4a14a;
    border-top: 1px groove #e4a14a;
    border-left: 1px groove #e4a14a;
    animation: fadeIn 1s;
    color: whitesmoke;
    padding: 50px 50px;
}
.content #aboutUs{
    text-transform: uppercase;
    display: inline;
    color: #e4a14a;
    cursor: pointer;
    font-size: 32px;
}

.content table{
    border-radius: 20px;
    width: 100%;
    margin-top: 30px;
    color: whitesmoke;
    border: 10px double #e4a14a;
    text-shadow: 2px 2px 1px black;
    box-shadow: 2px 2px 5px black;
    display: none;
}

.content table tr, th, td{
    font-size: 30px;
    padding: 12px 0;
    width: 50%;
    border: none;
    text-align: center;
    border-collapse: collapse;
}
.border{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/*Reg*/
#reg_box{
    padding: 10px 56px;
    text-align: center;
}
#reg_box h2{
    font-size: 22px;
    color: #e4a14a;
    margin-bottom: 24px;
}
.input_field{
    margin-bottom: 12px;
    text-shadow: 1px 1px 2px #202123;
 }
 .content .input_field input{
     outline: 0;
     border: 3px groove #202123;
     border-radius: 6px;
     color: whitesmoke;
     background-color: #28292b;
     box-shadow: 1px 1px 1px #202123;
     padding: 14px;
     width: 98%;
     margin: 0 auto 0 auto;
  }
.content button {
    font-size: 16px;
    background-color: #28292b;
    border: 3px groove #202123;
    box-shadow: 1px 1px 1px #202123;
    padding: 8px 12px;
  }
 @keyframes fadeIn {
     0% {opacity: 0;}
     100% {opacity: 1;}
 }
 @keyframes fadeOut {
     0% {opacity: 1;}
     100% {opacity: 0;}
 }

 /*News*/
 .news_container{
     width: 1245px;
     margin: 0 auto 0 auto;
     border-collapse: separate;
     border-spacing: 1px 32px;
     animation: fadeIn 1.2s;
 }
 .news_container tr{
     border: 0;       /*Ez is */
     display: block;  /*Ez a kettő kell ide, hogy működjön a border-radius*/
     height: fit-content;
     border-radius: 30px;
     animation: fadeIn 1.2s;
 }
 .news_container tr:hover{
     background-color: #202123;
     border-top: 1px groove #e4a14a;
     border-left: 1px groove #e4a14a;
     transition: all 0.25s ease 0s;
     cursor: pointer;
 }
 .news_container td{
     width: 40%;
 }
 .news_container td:first-of-type{
     width: 60%;
     padding-left: 20px;
 }
 .news_container img{
     width: 450px;
     border-radius: 20px;
 }
 .news_container h1{
     text-transform: uppercase;
     font-size: 26px;
     text-align: justify;
 }
p{
     color: whitesmoke;
     font-size: 18px;
     text-align: justify;
}

/*New*/
#news_image{
    display: block;
    width: 45%;
    margin: auto auto 50px;
    border-radius: 30px;
    animation: fadeIn 1.2s;
}
hr{
    margin-top: 30px;
    margin-bottom: 10px;
}
#cim{
    font-size: 34px;
    text-align: center;
    padding: 30px;
}
.games_container{
    width: 1300px;
    display: block;
    animation: fadeIn 1.2s;
}

/*Games*/
.game{
    float: left;
    text-align: center;
    padding: 20px;
    margin: 1px;
}
.game img{
    width: 260px;
    border-radius: 20px;
    transition: transform .2s;
    filter: grayscale(50%);
    box-shadow: 0 0 11px black;
}

.game img:hover{
    cursor: pointer;
    transform: scale(1.02);
    filter: grayscale(0%);
    box-shadow: 0 0 11px rgb(70, 70, 70);
}
.game h3{
    padding-top: 10px;
}

/*Game*/
#gameName{
    text-align: center;
    padding-bottom: 30px;
}
.game_container{
    text-align: center;
    width: 50%;
    margin: auto auto 30px;
    display: flex;
    background-color: #202123;
}
#game{
    margin-bottom: 30px;
    width: 65%;
}
#game h3{
    text-align: left;
    margin-top: 30px;
}
#game p{
    text-align: justify-all;
}
#game img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 300px;
    padding-right: 10px;
    border-radius: 20px;
}
#game_description{
    text-align: justify;
    font-size: 20px;
}
#game_description2{
    width: 60%;
}
.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    border:none ;
    width:80%;
    height: 500px;
    transition: transform .2s;
}
.video:hover{
    transform: scale(1.02);
}
.game_buy_sign {
    background-color: #28292b;
    border: solid 0.3em #28292b;
    border-left-color: #e4a14a;
    margin-top: 30px;
    padding: 15px;
    border-radius: 8px;
    font-size: 26px;
}
.game_buy_button{
    margin: -30px 0 0 68%;
    border-radius: 4px;
    width: 30%;
}
.game_buy_button button{
    width: 150px;
    font-size: 24px;
    border-radius: 4px;
    height: auto;
}
.game_buy_button button:hover{
    background-color: #e4a14a;
    color: black;
    transition: all 0.25s ease 0s;
    cursor: pointer;
}

#price{
    display: flex;
    float: left;
    padding: 4px;
    background-color: black;
    font-size: 22px;
}
#price p{
    padding: 12px;
    text-align: center;
    font-size: 22px;
}
/*Kosár*/
section{
    display: flex;
    animation: fadeIn 1.2s;
}
.info{
    float: left;
    margin-right: 40px;
}

.info2{
    float: right;
}
.info2 button{
    color:whitesmoke;
    background-color: #e4a14a;
}
.info2 button:hover{
    color:black;
    cursor: pointer;
    transition: all 0.25s ease 0s;
}
.checkOut{
    border-collapse: separate;
    border-spacing: 10px;
    width: 65%;
}
.checkOut td,th{
    padding: 2px;
    height: auto;
}
.checkOut td:nth-child(1){
    width: 25%;
}
.checkOut td:nth-child(2){
    width: 50%;
    padding: 25px;
}
.checkOut td:nth-child(2) p{
    font-size: 22px;
}
.checkOut td:nth-child(3){
    font-size: 20px;
}
.checkOut img{
    width: 100%;
    float: left;
    border-radius: 30px;
}
.checkOut button{
    color: whitesmoke;
    height: 45px;
    width: 95px;
    align-items: center;
    background-color: #e4a14a;
    border-radius: 10px;
    float: left;
}
.checkOut button:hover{
    cursor: pointer;
    color: #202123;
    transition: all 0.25s ease 0s;
}
#gameLink:hover{
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.25s ease 0s;
}
#buy{
    width: 270px;
    text-align: center;
    display: block;
    padding: 30px;
}
#buy button{
    width: 120px;
    border-radius: 20px;
}
#buy p{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 5px;
}